.icon {
    display: inline-block;
    @extend %cursor;

    &__scroll {
        width: 30px;
        height: 20px;
        background-image: url('../svg/scroll.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -moz-animation: bounce 3.5s infinite;
        -webkit-animation: bounce 3.5s infinite;
        animation: fadeBounce 3.5s infinite;
    }
}