.logo {
    display: flex;
    margin-right: 5rem;
    z-index: 1;

    @include media-small-desktop {
        max-width: 150px;
        display: inline-block;
        margin: auto;
    }

}

.header__logo-img {
    max-width: 210px;
    width: 100%;
    height: auto;

}