.header__nav {
    @extend %flex;
    @extend %al-items-center;
    margin-right: auto;
    text-transform: uppercase;
    gap: 31rem;}

.menu-list {
    @extend %flex;
    @extend %al-items-center;
    gap: 2.4rem;
}

.menu-list__item {
    position: relative;
    padding-bottom: .2rem;

}

.menu-list__link {
    @include font($link-size, 1.4, $bold);
    @extend %transition;
    opacity: .9;

    &:hover {
        color: #FEFEFE;
        opacity: 1;
    }

    &:hover::after {
        transform: scaleX(1);
        transform-origin: left center;
        transition-duration: 0.4s;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: $light-color;
        transform: scaleX(0);
        transform-origin: right center;
        @extend %transition;

    }
}