.section {
    position: relative;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-transform: uppercase;
}

.section__container {
    position: relative;
    top: 50%;
    transform: translateY(50%);

}

.section__inner {
    max-width: 560px;
    width: 50%;
}

.section__button {
    padding: 3rem 0 0;
}