body {
  min-height: 100vh;
  @extend %flex;
  @extend %flex-column;
  @extend %js-content-space-between;
  background: $dark-color;
  color: $light-color;
  font-family: $barlow-font;
  font-size: 1.6rem;
  line-height: 1.5;
}

.overlay-show {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.stop-scrolling {
  overflow: hidden;
}