%flex {
  display: flex;
}

%flex-wrap {
  flex-wrap: wrap;
}

%flex-column {
  flex-direction: column;
}

%js-content-space-between {
  justify-content: space-between;
}

%js-content-space-evently {
  justify-content: space-evenly;
}

%js-content-center {
  justify-content: center;
}

%al-items-center {
  align-items: center;
}

%cursor-pointer {
  cursor: pointer;
}

%text-center {
  text-align: center;
}

%text-uppercase {
  text-transform: uppercase;
}
%transition {
  transition: 0.5s ease-in-out;
}
