/* Colors */


$light-color: #ffffff;
$dark-color: #000000;
$thin-color:#979797;
$inactive-color: #919191;
$hover-color: #cccccc;
$border-color: #252525;
$visibility-color:rgba(0, 0, 0, .5);

/* Fonts  */

$main-size: 1rem;
$section-header-size: 6rem;
$date-size: 2rem;
$section-title: 4.8rem;
$link-size: 1.4rem;
$social-size: 1.2rem;
$quote-size: 1.8rem;


/* Fonts family */

$barlow-font: 'Barlow',
'Arial',
'Verdana',
sans-serif;

$bold: 700;
$regular: 400;