.footer {
    padding: 2rem 0
}

.footer__menu-list {
    justify-content: center;
    font-size: $social-size;

    @include media-small-desktop {
        display: block;
        text-align: center;

    }

    .menu-list__item {
        display: inline-block;

        @include media-mobile {
            margin-right: 1rem;
        }

        @include media-small-desktop {
            margin: 2rem;
        }

    }

    .menu-list__link {
        font-size: $social-size;

        &:hover {
            color: $hover-color;
        }

        &::after {
            display: none;
        }
    }
}

.copyright {
    display: block;
    color: $thin-color;

    @include media-mobile {
        padding-bottom: .8rem;
    }
}