.header {
    position: fixed;
    height: 100px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding: 4rem 0;
}

.header__container {
    @extend %flex;
    @extend %js-content-space-between;
    @extend %al-items-center;
}