.section-c {
    background: url('/src/images/home/section-c.webp');
}

.section-c .section__container {
    @include media-mobile {
        top: 36%;
    }
}

.section-c__title {
    @include media-tablet {
        max-width: 480px;
        width: 100%;
    }
}