.section-a {
<<<<<<< HEAD
    background: url('/src/images/home/section.webp');
}

.section-a .section__container {
    @include media-mobile {
        top: 76%;
    }
=======
    background: url('../images/home/section-a.webp');
>>>>>>> 431f934e2bf51a3f9a3c3aaf3ee0c7946f2a7a72
}