.section-c {
<<<<<<< HEAD
    background: url('/src/images/home/section-c.webp');
}

.section-c .section__container {
    @include media-mobile {
        top: 50%;
    }
}

.section-c__title {
    max-width: 480px;
    width: 100%;
=======
    background: url('../images/home/section-c.webp');
>>>>>>> 431f934e2bf51a3f9a3c3aaf3ee0c7946f2a7a72
}