.section-d {
<<<<<<< HEAD
    background: url('/src/images/home/section-d.webp');
}

.section-d .section__container {

    @include media-mobile {
        top: 80%;
    }

=======
    background: url('../images/home/section-d.webp');
>>>>>>> 431f934e2bf51a3f9a3c3aaf3ee0c7946f2a7a72
}